<launch>
  <!-- Run AMCL localization using a 2D map -->

  <arg name="map_file"/>
  <arg name="scan_topic" default="/scan" />
  <arg name="use_map_topic" default="false"/>

  <!-- Run the map server -->
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find jackal_navigation)/launch/include/amcl.launch">
    <arg name="use_map_topic" value="$(arg use_map_topic)" />
    <arg name="scan_topic"    value="$(arg scan_topic)" />
  </include>

</launch>