<?xml version="1.1"?>
<launch>
  <!-- Launch Microstrain IMU driver -->

  <!-- Declare arguments with default values -->
  <arg name="name"             default = "microstrain" />
  <arg name="port"             default = "/dev/ttyACM0" />
  <arg name="baudrate"         default = "115200" />
  <arg name="imu_frame_id"     default = "gx5_45_center" />
  <arg name="imu_data_rate"    default = "500" />
  <arg name="filter_data_rate" default = "10" />
  <arg name="gnss1_frame_id"   default = "gnss1_antenna_wgs84" />
  <arg name="gnss2_frame_id"   default = "gnss2_antenna_wgs84" />
  <arg name="filter_frame_id"  default = "sensor_wgs84" />
  <arg name="use_enu_frame"    default = "false" />


  <node name="microstrain_inertial_driver_node" pkg="microstrain_inertial_driver" type="microstrain_inertial_driver_node" output="screen" ns="$(arg name)">

    <param name="port"     value="$(arg port)"     type="str" />
    <param name="baudrate" value="$(arg baudrate)" type="int" />
    <param name="poll_port"      value="false" type="bool" />
    <param name="poll_rate_hz"   value="1.0"   type="double" />
    <param name="poll_max_tries" value="60"    type="int" />
    <param name="use_enu_frame" value="$(arg use_enu_frame)" type="bool" />
    <param name="device_setup" value="true" type="bool" />
    <param name="save_settings" value="false" type="bool" />
    <param name="use_device_timestamp" value="false" type="bool" />
    <param name="raw_file_enable" value="false" type="bool" />
    <param name="raw_file_include_support_data" value="false" type="bool" />
    <param name="raw_file_directory" value="/home/your_name" type="str" />
    <param name="publish_imu"   value="true"                  type="bool" />
    <param name="imu_data_rate" value="$(arg imu_data_rate)"  type="int" />
    <param name="frame_id"  value="$(arg imu_frame_id)"   type="str" />
    <rosparam param="imu_orientation_cov"> [0.01, 0, 0, 0, 0.01, 0, 0, 0, 0.01]</rosparam>
    <rosparam param="imu_linear_cov">      [0.01, 0, 0, 0, 0.01, 0, 0, 0, 0.01]</rosparam>
    <rosparam param="imu_angular_cov">     [0.01, 0, 0, 0, 0.01, 0, 0, 0, 0.01]</rosparam>
    <param name="publish_gps_corr"  value="false" type="bool" />
  </node>

</launch>
